

@using ProjectIDFMobile.Models.dtoModel;
@inject HttpClient Http


<table class="table">
    <thead>
        <tr>
            <th scope="col">Article</th>
            <th scope="col">Draftman</th>
            <th scope="col">Cap</th>
            <th scope="col">Qty</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var item in rdActualPlanDtos)
        {
            <tr>
                <th>@item.Article</th>
                <td>@item.DraftmanName</td>
                <td>@item.CapName</td>
                <td>@item.CapQty</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<RdActualPlanDto>? rdActualPlanDtos { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task Settup(string id,DateTime formDate,DateTime toDate)
    {
        rdActualPlanDtos = await Http.GetFromJsonAsync<List<RdActualPlanDto>>($"/api/RdActual/article/calendar/{id}/{formDate}/{toDate}");
    }
}

